
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/v15/Server/sqlite3/storage.ide-wal
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/v15/Server/sqlite3/storage.ide-shm
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/v15/Server/sqlite3/storage.ide
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/v15/Server/sqlite3/db.lock
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/v15/.suo
Ocrasoft.Stratis.BountyExplorer/.vs/Ocrasoft.Stratis.BountyExplorer/DesignTimeBuild/.dtbcache
